/*  your css code here. If applicable */
body{
	background:#7f03fc;
	display:flex;
	justify-content:center;
/* 	align-items:center; */
	margin-top:50%;
}
.search{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:50px;
	width:40%;
	background:white;
	
}
.input{
/* 	padding:10px; */
	border-style:none;
	margin-left:20px;
	font-size:15px;
	font-weight:600;
}
.btn{
/* 	height:20px; */
	background:white;
	border-style:none;
	cursor:pointer;
/* 	width:50px; */
}
.btn svg{
	height:40px;
	width:30px;
	
}