/*  your css code here. If applicable */
body{
	background:#7f03fc;
	display:flex;
	justify-content:center;
/* 	align-items:center; */
	margin-top:50%;
}
.search{
	display:flex;
	justify-content:space-between;
	height:50px;
	width:40%;
	background:white;
	
}
.input{
	padding:10px;
	border-style:none;
}
.btn{
/* 	height:20px; */
	background:white;
	border-style:none;
}
.btn svg{
	height:40px;
	
}